@import "tailwindcss";

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  #root {
    margin: 0 auto;
    max-width: 50rem;
  }

  h1 {
    font-size: 1.8rem;
  }

  body {
    display: flex;
    place-items: center;
    min-width: 20rem;
    min-height: 100vh;
    font-weight: 400;
  }

  section {
    @apply space-y-4;
  }
}
@media print {
  @page {
    size: auto;
    margin: 0;
    padding: 0;
  }

  /* safari pring styling */
  html,
  body {
    width: 210mm;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  button {
    display: none;
  }
  .print {
    display: block;
  }
}
