#root {
  margin: 0 auto;
  max-width: 45rem;
}

h1 {
  font-size: 1.8rem;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 20px;
  min-height: 100vh;
  background-color: var(--color-bg);
  color: var(--color-primary);
  padding: 1.5rem;
}
