@import "tailwindcss";

@theme {
  --color-bg: light-dark(#d7d7d7, #23272a);
  --color-primary: light-dark(
    rgba(68, 70, 75, 0.953),
    rgba(184, 172, 172, 0.961)
  );
  --color-secondary: light-dark(#414a4ae8, #b4ababd8);
  --color-accent: #3f76c8d9;
  --font-family-sans: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

:root {
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;

  color: var(--color-primary);
  background-color: var(--color-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
